.app {
    text-align: center;
    font-size: 10px;
}

.app-header {
    background-image: url('../public/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #432e36;
    position: relative;
    text-transform: uppercase;
    height: 8rem;
    padding: 50px 0px 80px 0px;
    color: white;
    margin-bottom: 2rem;
}

.app-header-logo {
    width: 100%;
    max-width: 500px;
    position: sticky;
    z-index: 2;
}

.footer {
    padding: 1rem 2rem 1rem 1rem;
    margin: 20px auto;
    max-width: 400px;
    display: flex;
    align-items: center;
    width: 365px;
}

.credits {
    width: 10px;
    flex: 3;
    font-size: 11px;
    padding: 0.1rem 0rem 0.1rem -0.1rem;
}